<p>
  <%= @resource.username %>!
</p>
<p>
  <%= t('devise.mailer.reset_password_instructions.subject') %>
</p>
<p>
  <%= link_to t('devise.mailer.reset_password_instructions.change_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>
</p>
<p>
  <%= t('devise.mailer.reset_password_instructions.copy_the_link') %>:
</p>
<p>
  <%= edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>
</p>
